<div id="<%= dom_id student %>">
  <p>
    <strong>Student:</strong>
    <%= student.student_id %>
  </p>

  <p>
    <strong>Math:</strong>
    <%= student.math %>
  </p>

  <p>
    <strong>Literature:</strong>
    <%= student.literature %>
  </p>

  <p>
    <strong>English:</strong>
    <%= student.english %>
  </p>

  <p>
    <strong>Physics:</strong>
    <%= student.physics %>
  </p>

  <p>
    <strong>Chemical:</strong>
    <%= student.chemical %>
  </p>

  <p>
    <strong>Biology:</strong>
    <%= student.biology %>
  </p>

  <p>
    <strong>History:</strong>
    <%= student.history %>
  </p>

  <p>
    <strong>Geography:</strong>
    <%= student.geography %>
  </p>

  <p>
    <strong>Civic education:</strong>
    <%= student.civic_education %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= student.language_id %>
  </p>

</div>
